html 
{
  scroll-behavior: smooth;
}
body{
  margin: 0px;
  padding: 0rem;
  font-family: monospace;
  background: #111;
}
.bg-white{
  background-color: aliceblue;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 5vh;
  background-color: #222;
  color: aliceblue;
  padding: 0;
}
.navbar-container {
  display: flex;
  gap: 0rem;
}
.navbar-item {
  text-align: center;
  color: aliceblue;
  text-decoration: none;
  padding: 0.5rem 1rem;
  width: 130px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
.navbar-item:hover {
  background-color: hsl(0, 0%, 25%);
}


section {
  padding: 30px 20px;
  
}
#title { 
  color: aliceblue;
  background: #0A1A63;
  background: linear-gradient(90deg,rgba(10, 26, 99, 1) 0%, rgba(30, 30, 43, 1) 51%, rgba(10, 26, 99, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  min-height: 100vh;
}
.title-content-name{
  font-size: 25px;
}
.title.line {
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(20) forwards;
}
.title.line:nth-child(2) {
  animation: typing2 2s steps(20) forwards;
  animation-delay: 2.2s;
}
.title.line:nth-child(3) {
  animation: typing3 1s steps(20) forwards;
  animation-delay: 4.6s;
}
#about{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-left: 25vh;
  padding-right: 25vh;
  text-align: center;
}

#skills{
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-left: 25vh;
  padding-right: 25vh;
}
.skill-sections-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
}
.skill-sections-container > div {
  flex: 1 1 30%; /* grow, shrink, and set a base width */
  min-width: 250px; /* sets the minimum width before wrapping occurs */
}
.separate-skill-container{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.skill-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.skill{
  border-radius: 2px;
  background-color: aliceblue;
  border: 1px black solid;
  padding: 5px;
  margin: 5px;
}
.skill:hover{
  background-color: #222;
  color: aliceblue;
}
@media (max-width: 900px) {
  .skill-sections-container {
    flex-direction: column;
    align-items: center; /* optional: center columns */
  }
}
@keyframes typing {
  from { width: 0; }
  to { width: 28ch; }
 }

@keyframes typing2 {
  from { width: 0; }
  to { width: 27ch; }
 }

@keyframes typing3 {
  from { width: 0; }
  to { width: 11ch; }
}
