html 
{
  scroll-behavior: smooth;
}
body{
  margin: 0px;
  padding: 0rem;
  font-family: monospace;
  background: #111;
}
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 5vh;
  background-color: #222;
  color: white;
  padding: 0;
}

.navbar-container {
  display: flex;
  gap: 0rem;
}

.navbar-item {
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
  width: 130px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.navbar-item:hover {
  background-color: hsl(0, 0%, 25%);
}


section {
  padding: 100px 20px;
  min-height: 100vh;
}
#title { 
  color: white;
  background: #0A1A63;
  background: linear-gradient(90deg,rgba(10, 26, 99, 1) 0%, rgba(30, 30, 43, 1) 51%, rgba(10, 26, 99, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
}
.title-content-name{
  font-size: 25px;
}



.title.line {
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(20) forwards;
}
.title.line:nth-child(2) {
  animation: typing2 2s steps(20) forwards;
  animation-delay: 2.2s;
}
.title.line:nth-child(3) {
  animation: typing3 1s steps(20) forwards;
  animation-delay: 4.6s;
}
@keyframes typing {
  from { width: 0; }
  to { width: 28ch; }
 }

@keyframes typing2 {
  from { width: 0; }
  to { width: 27ch; }
 }

@keyframes typing3 {
  from { width: 0; }
  to { width: 11ch; }
}
.about { background: #d0d0d0; color: black;}
.projects { background: #e2e2e2; }
.contact { background: #d0d0d0; }