*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}
html 
{
  font-size: 16px;
  scroll-behavior: smooth;
}
body{
  font-family: monospace;
  background: #111;
}

a{
  text-decoration: none;
}
a:link{
  color: inherit;
}
a:visited{
  color: inherit;
}


.bg-white{
  background-color: aliceblue;
  border-style: solid;
  border-width: 0 0 0.15rem 0;
  border-image-slice: 1;
  border-image-source: linear-gradient(to right, 
    rgba(17, 17, 17,0),
    rgba(17, 17, 17,1),
    rgba(17, 17, 17,0)
  );
}
.bg-blue{
  background: linear-gradient(90deg,rgba(10, 26, 99, 1) 0%, rgba(30, 30, 43, 1) 51%, rgba(10, 26, 99, 1) 100%);
  color: aliceblue;
}

section {
  scroll-margin-top: 30vh;
  padding: 5vh 5vw;
  display: flex;
}
.title-content{
 margin: 5vh 5vw;
}
#navbar {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
}
.navbar-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  height: auto;
  padding: 0.8rem 0px;
  list-style: none;
}
.navbar-item {
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}
.navbar-item:hover {
  background-color: hsl(0, 0%, 25%);
}


#title { 
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.title-content-name{
  font-size: 2rem;
}
.title.line {
  width: 0ch;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(28) forwards;
}
.title.line:nth-child(2) {
  animation: typing2 2s steps(27) forwards;
  animation-delay: 2.2s;
}
.title.line:nth-child(3) {
  animation: typing3 0.8s steps(11) forwards;
  animation-delay: 4.6s;
}
#about{
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}


#skills{
  flex-flow: column;
  align-items: center;
}
.skill-categories-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 2rem;
  overflow: auto;
}
.skill-category-container{
  flex: 1 1 30%;
  min-width: 30vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.skill-list{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.skill{
  border-radius: 10px;
  background-color: aliceblue;
  border: 2px black solid;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: background-color 0.2s ease, color 0.2s ease;
}
.skill:hover{
  transform: scale(1.1,1.1);
  background-color: #222;
  color: aliceblue;
}


#projects{
  flex-flow: column;
  align-items: center;
  gap:2rem;
}
.projects-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  gap: 2rem;
}

.single-project-container{
  border: 2px solid black;
  border-radius: 5px;
  padding: 1rem 0;
  flex: 1 1 30%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  min-width: 30vh;
  
}
.project-title-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0.8rem;
  width: 100%;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease; 
}
.project-title-container:hover{
  border-bottom: 2px solid black;
}
.project-title-container-image{
  margin-right: 1.8rem;
}
.project-text-container{
  text-align: center;
  padding: 0 1rem;
}
.project-skills-container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.project-skill{
  border-radius: 10px;
  background-color: aliceblue;
  border: 1px black solid;
  padding: 0.5rem;
  margin: 0.5rem;
  transition: transform 0.2s ease-in-out;
}
.project-skill:hover{
  transform: translateY(-3px);
}

.other-projects-container{
  justify-content: center;
  display: inline;
}
.other-projects{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
  font-weight: bolder;
  background-color: inherit;
  border: 2px solid black;
  border-radius: 5px;
  width: 30vh;
  height: 4rem;
  box-shadow: 0px 0px 10px grey;
  
}
.other-projects:hover{
  transform: scale(1.1,1.1);
  transition: transform 0.2s ease-in-out;
}

#footer{
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap:2rem;
  border: none;
}
.footer-item{
  display: flex;
  flex-flow: row;
  align-items: center;
  gap: 5px;
}



@media (min-width: 900px) {
  .navbar-item {
    padding: 0.5rem 0.8rem;
    font-size: 14px;
  }
  section{
    padding: 5vh 25vw;
  }
  .skill-categories-container{
    flex-direction: column;
    align-items: center;
  }
  .projects-container{
    flex-direction: row;
    align-items: center;
  }
  .single-project-container{
    max-width: 30%;

  }
  
}




@keyframes typing {
  from { width: 0; }
  to { width: 28ch; }
 }

@keyframes typing2 {
  from { width: 0; }
  to { width: 27ch; }
 }

@keyframes typing3 {
  from { width: 0; }
  to { width: 11ch; }
}
